.texto-error{
    text-align: center;
    margin-top: 50px;
    font-size: 80px;
    color: black;
}

.texto-container{
    text-align: center;
}

button{
    background-color:  #86b552;
    color: white;
}